// Define variables for consistent colors and styles
:root {
  --primary-color: teal;
  --secondary-bg-color: #fcf5f3;
  --border-color: #ccc;
  --text-color: #333;
  --form-element-padding: 15px;
}

.createPage {
  height: 100%;
  display: flex;

  // Add a media query for mobile responsiveness
  @media (max-width: 768px) {
    flex-direction: column;
    overflow-y: scroll;
  }

  .formContainer {
    flex: 3;
    overflow-y: scroll;

    .wrapper {
      margin: 20px;

      h1 {
        margin-bottom: 20px;
        font-weight: 300;
      }

      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
          width: 48%;
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-bottom: 20px;

          @media (max-width: 768px) {
            width: 100%;
          }

          label {
            color: var(--text-color);
          }

          input,
          select,
          textarea {
            padding: var(--form-element-padding);
            border-radius: 5px;
            border: 1px solid var(--border-color);
            font-family: inherit;
            font-size: 16px;
          }

          textarea {
            height: 150px;
            resize: vertical;
          }

          &.description {
            width: 100%;
          }
        }
        .sendButton {
          width: 100%;
          padding: var(--form-element-padding);
          border-radius: 5px;
          border: none;
          background-color: var(--primary-color);
          color: white;
          font-weight: bold;
          cursor: pointer;
          transition: background-color 0.2s ease;
          font-size: 16px;
          margin-top: 10px;

          &:hover {
            background-color: darkcyan;
          }
        }

        .error-message {
          color: red;
          width: 100%;
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;

    h3 {
      font-weight: 300;
    }

    .image-previews {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
      width: 100%;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
        border: 2px solid #ddd;
      }
    }
  }
}
